
body{
  background-color: black;
  color: white;
  text-align: center;
  font-family:  Helvetica, Arial, sans-serif;
}

h1{
  font-size: 70px;
  text-shadow: 5px 3px 7px darkorange;
}

.form{
  margin: 30px;
  font-size: 20px;
}

button{
  font-size: 20px;
  background-color: darkgoldenrod;
}

button:hover{
  background-color: darkorange;
  color: white;
}

.start_button{
  height: 30px;
  margin-bottom: 15px;
  font-size: large;
}
  
.squares{
    background-color: rgb(0, 0, 0);
    padding: 0;
    width: 15vmin;
    height: 15vmin;
    
}

.scoreboard {
  font-weight: bolder;
  font-size: 40px;
}

.top-middle,
.middle-middle,
.bottom-middle {
    border-left: 5px solid orange;
    border-right: 5px solid orange;
}

.middle-left,
.middle-middle,
.middle-right {
    border-top: 5px solid orange;
    border-bottom:5px solid orange
}


.board {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    padding: 10px;
    aspect-ratio: 1 / 1;

}


.icon{
    width: 15vmin;
    height: 15vmin;

}


.cursor {
 
  height: 32px;
  width: 32px;
  position: fixed;
  top:0;
  left:0;
  pointer-events: none;
}

*{
  cursor: none
}

