
body{
  background-color: black;
  color: white;
  text-align: center;
}

h1{
  font-size: 60px;
  font-family:  Helvetica, Arial, sans-serif;
  text-shadow: 5px 3px 7px red;
}

.form{
  margin: 30px;
}

button:hover{
  background-color: darkred;
  color: white;
}

  
.squares{
    border-width: 1 px;
    border-color: orange;
    border-style: solid;
    background-color: black;
    padding: 0;
    width: 200px;
    height: 200px;

}


.board {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    padding: 10px;

}

.icon{
  width: 200px;
  height: 200px;
}
